style.css

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}


blockquote {
	font-size: 2em;
	color: white;
	background-color: black;
	padding: 3px;
	width: 85%;
	text-align: center;
}

