
body {
	font-family: 'Open Sans', sans-serif;
	text-align: auto;
	
	
}


blockquote {
	font-size: 2em;
	color: white;
	background-color: black;
	padding: 3px;
	width: 85%;
	text-align: center;
	margin: auto!important;
	display: block;
}


.pullquote {
	text-align: center;
	margin: 0px auto;
}

.navbar {
padding:  10px;
margin-bottom: 30px;}

img {
	display: block;
	margin:  auto;
	width: 75%;
}