body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}

#content {
	margin: 0 auto;
	width: 900px;
}

#masthead {
	text-align: center;
	position: relative;
	color: black;

}

#masthead img {
	width: 100%;
	height: auto;
}

#byline {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

/*This is a very powerful and inspirational quote and one that I need to implment*/

blockquote {
	font-size: 2em;
	color: white;
	background-color: black;
	padding: 3px;
	width: 85%;
	text-align: center;
}